.Review{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 4rem;
    gap: 1rem;
    .left{
        flex: 1;
        
       img{
        float: right;
        height:45%;
        width: 55%;
        object-fit: cover;
       }
    }
    .right{
       padding: 3rem;
       flex: 1;
       display: flex;
       flex-direction: column;
       gap: 2rem;

       .head{
         font-size:1.8rem;
         font-weight: 600;
         word-spacing:1px;
         line-height: 1.4;
       }
       .para{
        font-size: 1.2rem;
        color:#C0C0C0;
        font-weight:400;
        word-spacing: .5px;
        line-height:1.6;
       }
       .name{
        font-size: 1rem;
        color: white;
       }
    }
}

@media screen and (max-width:768px){
     .Review{
        position: relative;
        padding: 0rem;

        .left{

           img{
            height: 100%;
            width: 100%;
           }
        }

        .right{
          margin:1rem;
          background: rgba(0, 0, 0, 0.5);
          position: absolute;
          padding: 1rem;
          gap: 1rem;
          bottom: 0;
          border-radius:35px 2px 35px 2px;

          .head{
            font-size: 1.4rem;
            line-height: 1.2;
          }
          .para{
            font-size: 1rem;
            display: none;
          }
        }
     }
}