.slide{
    display: flex;
    justify-content: center;

    .container{
       width: 1400px;

       .carousel-prev, .carousel-next{
        width: 4rem;
        height: 4rem;
        background-color: lightgray;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    }
}