.reachme{
    display: flex;
    justify-content: center;
    background-color:#0C090A;
    padding: 4rem 0;

    .container{
     display: flex;
     width: 1400px;
     align-items: center;
     justify-content: center;
     gap: 1rem;
    .left{
        flex: 1;
        
            width:100%;
            background-image:url('../../images/reachme.jpg');
            background-repeat: no-repeat;
            background-attachment:fixed;
            height:650px;
            background-size:660px 100%;
            background-position:cover;
            
    }
    .right{
        color: white;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 4rem;

        h2{
            font-size: 3.5rem;
            font-weight:500;
            line-height: 1.2;
            text-transform: capitalize;
        }
        p{
            margin-top:2rem;
            font-size:1.5rem;
            color:#c0c0c0;
            letter-spacing: 1px;
            line-height:1.5;
        }
        button{
            margin-top: 2rem;
            padding:1rem;
            color: white;
            border: .1rem solid white;
            font-size: 1.2rem;
            font-weight: 400;
            background-color: transparent;
            width: 20%;
            text-transform: capitalize;
            border-radius: .5rem;

            &:hover{
                background-color: white;
                color: black;
                transition: .5s ease;
            }
            .link{
                text-decoration:none;
                
            }
        }
    }
  }
}