@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    scroll-behavior: smooth;

    //color colection
    //#3B2F2F
    //#2B1B17
    //#3B3131
}
link{
    text-decoration: none;
    
}
